%ul#cust.nav
  %li
    = link_to "My Wedding"
  %li
    %a#one{ :href => guest_list_path}
      Guest List
  %li
    %a#two{ :href => planning_path}
      Plan My Wedding
  %li
    %a#three{ :href => 'users/new'}
      Sign up now!
